.Container{
  height: 100vh;
  background-color: rgb(19, 19, 19);
  color: white;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

h1{
  margin-left: 100px;
  padding-left: 3.125rem;
}

.AudioContainer{
  color: white;
  list-style: none;
  cursor: pointer; 
}

button{
  cursor: pointer;
}

/* styles.css */
.audio-list {
  list-style-type: none;
  padding: 0;
}

.audio-item {
  margin: .625rem 0;
}

.audio-button {
  margin-left: 100px;
  background-color: #3a3a3a;
  color: white;
  border: none;
  padding: .625rem 1.25rem;
  cursor: pointer;
  width: 22rem;
  height: 3.125rem;
  text-align: left;
}

.audio-button:hover {
  background-color: #0057b383;
}

.audio-controls {
  margin-top: 1.25rem;
}

.audio-play{
position: absolute;
right: 34.375rem;
top: 24.0625rem;
}

.hidden {
  display: none;
}
